{% extends 'registration/baseregis.html' %}
{% block content %}
{% load widget_tweaks %}
<form method="POST">{% csrf_token %}
  <p>Si has olvidado tu contraseña por favor introduce el mail con el que te registraste,
     para poder enviarte una nuevamente. Muchas gracias!
   </p>
  <div class="form-label-group">
   
      {%if form.email.errors %}
      {% render_field form.email class="form-control is-invalid" %}
        {% for error in form.email.errors %} {{ error }} {% endfor %}
   {% else %}
     {% render_field form.email class="form-control" %}
   {% endif %}
    <label for="inputEmail">email</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Enviarme una nueva contraseña</button>
</form>
{% endblock %}