{% extends 'registration/baseregis.html' %}
{% block content %}
{% load widget_tweaks %}
  {% if validlink %}
    <p>Cambia tu contraseña</p>
    <form method="POST">{% csrf_token %}
      <ul><li>Su contraseña no puede asemejarse tanto a su otra información personal.</li><li>Su contraseña debe contener al menos 8 caracteres.</li><li>Su contraseña no puede ser una clave utilizada comúnmente.</li><li>Su contraseña no puede ser completamente numérica.</li></ul>
      <div class="form-label-group">
      {%if form.new_password1.errors %}
          {% render_field form.new_password1 class="form-control is-invalid" %}
            {% for error in form.new_password1.errors %} {{ error }} {% endfor %}
       {% else %}
         {% render_field form.new_password1 class="form-control" %}
       {% endif %}
        <label for="inputEmail">Nueva contraseña</label>
      </div>

      <div class="form-label-group">
        {%if form.new_password2.errors %}
            {% render_field form.new_password2 class="form-control is-invalid" %}
              {% for error in form.new_password2.errors %} {{ error }} {% endfor %}
         {% else %}
           {% render_field form.new_password2 class="form-control" %}
         {% endif %}
          <label for="inputEmail">Repetir contraseña</label>
        </div>

      <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Cambiar contraseña</button>
    </form>
  {% else %}
    <p>
      El link no es valido
    </p>
  {% endif %}
{% endblock %}