{% load static %}  

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url "index" %}" class="brand-link">
    <img src="{% static 'webapp/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">HistoCar</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    {% if user.is_authenticated %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static 'webapp/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user.nombre }} {{ user.apellido }}</a>
      </div>
    </div>{% endif %}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-header">SERVICIOS</li>
        <li class="nav-item">
          <a href="{% url "CrearServicio" %}" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Registrar nuevo
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url "VerServicios" %}" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Ver
            </p>
          </a>
        </li>

        <li class="nav-header">USUARIOS</li>
        <li class="nav-item">
          <a href="{% url "AltaUsuario" %}" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Registrar nuevo
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pages/gallery.html" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Ver
            </p>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url "logout" %}" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Desconectarse
            </p>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url "login" %}" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Conectarse
            </p>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<!-- /.main-sidebar-container -->