{% load static %}  

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="../" class="brand-link">
    <!-- <i class="fas fa-car"></i> -->
    <span class="brand-text">&nbsp;HistoCar</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
      <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-header">Menu</li>
        <li class="nav-item">
          <a href="{% url "index" %}" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Inicio
              <!--<span class="badge badge-info right">2</span>-->
            </p>
          </a>
        </li>

        <li class="nav-header">Servicios</li>
        <li class="nav-item">
          <a href="{% url "CrearServicio" %}" class="nav-link">
            <i class="nav-icon fas fa-plus"></i>
            <p>
              Crear servicio
              <!--<span class="badge badge-info right">2</span>-->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url "VerServicios" %}" class="nav-link">
            <i class="nav-icon fas fa-eye"></i>
            <p>
              Ver servicios
            </p>
          </a>
        </li>

        <li class="nav-header">Usuarios</li>
        <li class="nav-item">
          <a href="{% url "CrearUsuario" %}" class="nav-link">
            <i class="nav-icon fas fa-user-plus"></i>
            <p>
              Crear usuario
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Ver usuarios
            </p>
          </a>
        </li>
        <li class="nav-header">Vehiculos</li>
        <li class="nav-item">
          <a href="{% url "CrearVehiculo" %}" class="nav-link">
            <i class="nav-icon fas fa-car"></i>
            <p>
              Asignar vehiculo
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

<!-- /.main-sidebar-container -->