{% extends "base.html" %}
{% block content %} 
 <!-- Content Row -->
 <div class="row">

  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agregar nuevo servicio</h6>
      </div>
      <div class="card-body">
        
        
        
        
        <form method="POST" class="ServicioForm">{% csrf_token %}


            {{ form.as_p }}

            <button type='submit'>Save</button>

        </form>
        
        
        
        
      </div>
    </div>

  </div>
</div>
<!-- End of Content Row -->
{% endblock %}
