{% extends "base.html" %}
{% block content %} 
{% load widget_tweaks %}
 <!-- Content Row -->
 <!-- Toastr -->
 {% load static %}
<link rel="stylesheet" href="{% static 'webapp/plugins/toastr/toastr.min.css' %}">
<script src="{% static 'webapp/plugins/toastr/toastr.min.js' %}"></script>
<script src="{% static 'webapp/plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'webapp/plugins/daterangepicker/daterangepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'webapp/plugins/daterangepicker/daterangepicker.css' %}">

 <div class="row">

  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agregar nuevo servicio</h6>
      </div>
      <div class="card-body">
        
        
        
        
        <form method="POST" class="ServicioForm">{% csrf_token %}
            <div class="form-group">
            
<!--
    Links de interes
    
    https://github.com/jazzband/django-widget-tweaks 
    https://getbootstrap.com/docs/4.4/components/forms/
-->

<div class="form-group">
  <label for="exampleFormControlInput1">{{form.fecha.label}}</label>
      {%if form.fecha.errors %}
        {% render_field form.fecha class="form-control is-invalid" %}
          {% for error in form.fecha.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.fecha class="form-control" %}
     {% endif %}
</div>
                    
<div class="form-group">
  <label for="exampleFormControlInput1">{{form.textoOtros.label}}</label>
      {%if form.textoOtros.errors %}
        {% render_field form.textoOtros class="form-control is-invalid" %}
          {% for error in form.textoOtros.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.textoOtros class="form-control" %}
     {% endif %}
</div>                    
                 
<div class="form-group">
  <label for="exampleFormControlInput1">{{form.comentario.label}}</label>
      {%if form.comentario.errors %}
        {% render_field form.comentario class="form-control is-invalid" %}
          {% for error in form.comentario.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.comentario class="form-control" %}
     {% endif %}
</div>
                   
<div class="form-group">
  <label for="exampleFormControlInput1">{{form.kilometros.label}}</label>
      {%if form.kilometros.errors %}
        {% render_field form.kilometros class="form-control is-invalid" %}
          {% for error in form.kilometros.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.kilometros class="form-control" %}
     {% endif %}
</div>
                   
<div class="form-group">
  <label for="exampleFormControlInput1">{{form.puntuacion.label}}</label>
      {%if form.puntuacion.errors %}
        {% render_field form.puntuacion class="form-control is-invalid" %}
          {% for error in form.puntuacion.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.puntuacion class="form-control" %}
     {% endif %}
</div>

<div class="form-group">
    <label for="exampleFormControlInput1">{{form.costo.label}}</label>
        {%if form.costo.errors %}
        	{% render_field form.costo class="form-control is-invalid" %}
        		{% for error in form.costo.errors %}
					<script>
					  $('').ready(function() {
					    toastr.error('{{ error }}','Error')
					  });
					</script>
				{% endfor %}
   		{% else %}
   			{% render_field form.costo class="form-control" %}
   		{% endif %}
</div>
                    
<div class="form-group">
  <label for="exampleFormControlInput1">{{form.vehiculo.label}}</label>
      {%if form.vehiculo.errors %}
        {% render_field form.vehiculo class="form-control is-invalid" %}
          {% for error in form.vehiculo.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.vehiculo class="form-control" %}
     {% endif %}
</div>
                  
<div class="form-group">
  <label for="exampleFormControlInput1">{{form.tareas.label}}</label>
      {%if form.tareas.errors %}
        {% render_field form.tareas class="form-control is-invalid" %}
          {% for error in form.tareas.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.tareas class="form-control" %}
     {% endif %}
</div>

<div class="form-group">
  <label for="exampleFormControlInput1">{{form.estados.label}}</label>
      {%if form.estados.errors %}
        {% render_field form.estados class="form-control is-invalid" %}
          {% for error in form.estados.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Error')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.estados class="form-control" %}
     {% endif %}
</div>

            <button type='submit' class="btn btn-primary mb-2">Agregar servicio</button>
            </div>
        </form>
        <script>
          toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "9000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}  
        </script>
      </div>
    </div>

  </div>
</div>
<!-- End of Content Row -->
<!-- InputMask -->

<!-- REQUIRED SCRIPTS 



  <script>
  $(function () {
    //Date range picker
    $('#id_fecha').daterangepicker({
      singleDatePicker: true,
      timePicker: true,
      locale: {
        format: 'YYYY-MM-DD hh:mm'
      }
    })
    
  })
</script>
-->
{% endblock %}