{% extends "base.html" %}
{% block content %} 
  <style>
    .hiddenRow {
      padding: 0 !important;
    }


    .table{
    th,
    td {
      vertical-align: middle;
    }
    }
  </style>
  

  <div class="container-fluid">
    <!-- =========================================================== -->

    <h5 class="mb-2">Servicios Recientes</h5>
       
    <div class="row">
      <div class="col-12">
        <div class="card card-outline card-primary">
          <div class="card-header">
            <h3 class="card-title">Primary Outline</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
          {% comment %} ======================== {% endcomment %}

            <table class="table table-bordered">
              {% for servicio in servicios %}
                <tr>
                  <td style="width:1%">
                    <a class="btn" data-toggle="collapse" href="#collapseme{{servicio.id}}" role="button" aria-expanded="false" aria-controls="collapseGroup">
                      <i class="fas fa-angle-down"></i>
                    </a>
                  </td>
                  <td style="width: 10px">
                    {{servicio.fecha|date:'d/m/Y'}}
                  </td>
                  <td>
                    column
                  </td>
                  <td style="width: 40px">
                    <span class="badge badge-pill bg-primary">Finalizado</span>
                  </td>
                </tr>

                <tr id="collapseme{{servicio.id}}" class="collapse out">
                  <td colspan="6" style="padding-left:0rem; padding:0rem" >
                      <div class="py-3 pl-5 bg-light" > 
                        <div class="row"> 
                          <div class="col">Should be collapsed</div>
                          <div class="col">Should be collapsed</div>

                        </div>
                      </div>
                  </td>
                </tr>
              {% endfor %}
              
            </table>

          {% comment %} ======================== {% endcomment %}
          </div>
          <!-- /.card-body -->
        </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->



  </div>
  <!-- /.container-fluid -->
{%endblock%}