{% extends "base.html" %}
{% block content %} 
{% load widget_tweaks %}
 <!-- Content Row -->
 <!-- Toastr -->
 {% load static %}
<link rel="stylesheet" href="{% static 'webapp/plugins/toastr/toastr.min.css' %}">
<script src="{% static 'webapp/plugins/toastr/toastr.min.js' %}"></script>

  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registro de nuevo user</h6>
      </div>
      <div class="card-body">
        
        
        
        
        <form method="POST" class="RegistroUsuario">{% csrf_token %}
            <div class="form-group">
            
                {{ form.as_p }}

            <button type='submit' class="btn btn-primary btn-lg mt-2 mb-2">Agregar nuevo usuario</button>
            </div>
        </form>
        
      </div>
    </div>

  </div>
<!-- End of Content Row -->
<!-- InputMask -->
<!-- REQUIRED SCRIPTS -->

{% endblock %}
