{% extends "base.html" %}
{% block content %} 

<div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
    
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <i class="fas fa-car fa-5x"style="color:rgb(150, 150, 150);" ></i>
            </div>
    
            <h3 class="profile-username text-center">{{ servicio.vehiculo.modelo.marca }} {{ servicio.vehiculo.modelo.nombre}}</h3>
    
            <p class="text-muted text-center">{{ servicio.vehiculo.matricula }}</p>
    
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Fecha</b> <a class="float-right">{{ servicio.fecha|date:'d/m/Y' }}</a>
              </li>
              <li class="list-group-item">
                <b>Kilómetros</b> <a class="float-right">{{ servicio.kilometros}}</a>
              </li>
              <li class="list-group-item">
                <b>Costo</b> <a class="float-right">{{ servicio.costo}}</a>
              </li>
            </ul>
    
            <a href="#" class="btn btn-primary btn-block"><b>Actualizar información</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
    
        <!-- About Me Box -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cliente</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Nombre</strong>
    
            <p class="text-muted">
              {{ servicio.vehiculo.duenio }}
            </p>
    
            <hr>
    
            <strong><i class="far fa-file-alt mr-1"></i> Información de contacto</strong>
    
            <p class="text-muted">Tel.: {{ servicio.vehiculo.duenio.telefono }} <br> E-mail: {{ servicio.vehiculo.duenio.email }}</p>
      
            <hr>
    
            <strong><i class="fas fa-map-marker-alt mr-1"></i> Dirección</strong>
    
            <p class="text-muted">{{ servicio.vehiculo.duenio.dirCalle }}, {{ servicio.vehiculo.duenio.dirNumero }}<br>
              {{ servicio.vehiculo.duenio.dirCiudad }}<br>
              {{ servicio.vehiculo.duenio.dirDepartamento }}
            </p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Activity</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <!-- <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image"> -->
                    <span class="username">
                      <a href="#">Jonathan Burke Jr.</a>
                      <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                    </span>
                    <span class="description">Shared publicly - 7:30 PM today</span>
                  </div>
                  <!-- /.user-block -->
                  <p>
                    Lorem ipsum represents a long-held tradition for designers,
                    typographers and the like. Some people hate it and argue for
                    its demise, but others ignore the hate as they create awesome
                    tools to help create filler text for everyone from bacon lovers
                    to Charlie Sheen fans.
                  </p>
    
                  <p>
                    <a href="#" class="link-black text-sm mr-2"><i class="fas fa-share mr-1"></i> Share</a>
                    <a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i> Like</a>
                    <span class="float-right">
                      <a href="#" class="link-black text-sm">
                        <i class="far fa-comments mr-1"></i> Comments (5)
                      </a>
                    </span>
                  </p>    
                </div>
                <!-- /.post -->
    
              </div>
    
              <div class="tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName2" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
 </div><!-- /.container-fluid -->
 {%endblock%}