{% extends "base.html" %}
{% block content %} 


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <i class="fas fa-car fa-5x"style="color:rgb(150, 150, 150);" ></i>
          </div>
          <h3 class="profile-username text-center">{{ servicio.vehiculo.modelo.marca }} {{ servicio.vehiculo.modelo.nombre}}</h3>
          <p class="text-muted text-center">{{ servicio.vehiculo.matricula }}</p>
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Fecha</b> <a class="float-right">{{ servicio.fecha|date:'d/m/Y' }}</a>
            </li>
            <li class="list-group-item">
              <b>Kilómetros</b> <a class="float-right">{{ servicio.kilometros}}</a>
            </li>
            <li class="list-group-item">
              <b>Costo</b> <a class="float-right">{{ servicio.costo}}</a>
            </li>
          </ul>

          <!-- <a href="#" class="btn btn-primary btn-block"><b>{{servicio.estadoActual}}</b></a> -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- About Me Box -->
      <div class="card card-primary">
        <div class="card-header"><h3 class="card-title">Cliente</h3></div>
        <!-- /.card-header -->
        <div class="card-body">
          <strong><i class="fas fa-book mr-1"></i> Nombre</strong>   
          <p class="text-muted">
            {{ servicio.vehiculo.duenio }}
          </p>    
          <hr>    
          <strong><i class="far fa-file-alt mr-1"></i> Información de contacto</strong>    
          <p class="text-muted">Tel.: {{ servicio.vehiculo.duenio.telefono }} <br> E-mail: {{ servicio.vehiculo.duenio.email }}</p>      
          <hr>    
          <strong><i class="fas fa-map-marker-alt mr-1"></i> Dirección</strong>

          <p class="text-muted">{{ servicio.vehiculo.duenio.dirCalle }}, {{ servicio.vehiculo.duenio.dirNumero }}<br>
            {{ servicio.vehiculo.duenio.dirCiudad }}<br>
            {{ servicio.vehiculo.duenio.dirDepartamento }}
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>

    <!-- Col -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link active" href="#tasks" data-toggle="tab">Tareas relizadas</a></li>
            <li class="nav-item"><a class="nav-link" href="#status" data-toggle="tab">Estados</a></li>
          </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="active tab-pane" id="tasks">
              <!-- Post -->
              <div class="post">
                <ul class="list-unstyled"> 
                  {% for tarea in servicio.tareas.all %}
                    <li class="p-1"><i class="fas fa-wrench pr-2"></i> {{tarea.nombre}}</li>
                  {% endfor %}
                </ul>  
              </div>
              <!-- /.post -->
              <div class="post pl-4">
                <strong><i class="far fa-file-alt mr-1"></i> Otras tareas</strong>
                <p class="text-muted ml-3"> {{ servicio.textoOtros }} </p>
              </div>
            </div>
            <div class="tab-pane" id="status">
              <div class="timeline timeline-inverse">
                <!-- timeline time label -->
                <div class="time-label">
                  <span class="bg-danger">
                    {{ servicio.estadoservicio_set.last.fecha|date:'d N Y - G:i' }} 
                  </span>
                </div>
                <!-- /.timeline-label -->
                
                {% for registro in servicio.estadoservicio_set.all reversed %}
                <!-- timeline item -->
                <div>
                  <i class="fas fa-wrench bg-primary"></i>
                      <div class="timeline-item">
                    
                        <span class="time"><i class="far fa-clock"></i> {{ registro.fecha }}</span>
    
                        <h3 class="timeline-header border-0"><a href="#">{{ registro.estado.nombre }}: </a> {{ registro.estado.descripcion }}
                        </h3>
                      </div>
                </div>
                <!-- END timeline item -->
                {% endfor %}  
                
                <div>
                  <i class="far fa-clock bg-gray"></i>
                </div>
              </div>
                
            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->
{%endblock%}
