{% extends "base.html" %}
{% block content %} 
{% load widget_tweaks %}
 <!-- Content Row -->
 <!-- Toastr -->
 {% load static %}


  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Agregar nuevo servicio</h6>
      </div>
      <div class="card-body">
        
        
        
        
        <form method="POST" class="ServicioForm">{% csrf_token %}
            <div class="form-group">
            
<!--
    Links de interes
    
    https://github.com/jazzband/django-widget-tweaks 
    https://getbootstrap.com/docs/4.4/components/forms/
-->
<script>
  $(function () {
    //Date range picker
    $('#id_fecha').daterangepicker({
      singleDatePicker: true,
      timePicker: true,
      locale: {
        format: 'YYYY-MM-DD hh:mm'
      }
    })
    
  })
</script>
<div class="form-group">
  <label for="fecha">{{form.fecha.label}}</label>
      {%if form.fecha.errors %}
        {% render_field form.fecha class="form-control is-invalid" %}
          {% for error in form.fecha.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Fecha')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.fecha class="form-control" %}
     {% endif %}
</div>
 
<div class="form-group">
  <label for="vehiculo">{{form.vehiculo.label}}</label>
      {%if form.vehiculo.errors %}
        {% render_field form.vehiculo class="form-control is-invalid" %}
          {% for error in form.vehiculo.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Vehiculo')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.vehiculo class="form-control" %}
     {% endif %}
</div>

<!-- <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea> -->

<div class="form-group">
  <label for="Otras tareas">{{form.textoOtros.label}}</label>
      {%if form.textoOtros.errors %}
        {% render_field form.textoOtros class="form-control is-invalid" %}
          {% for error in form.textoOtros.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Texto Otros')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.textoOtros rows="5" cols="20" placeholder='Ingrese otras tareas' class="form-control" %}
     {% endif %}
</div>                    
 

<div class="form-group">
  <label for="kilometros"> {{form.kilometros.label}}</label>
      {%if form.kilometros.errors %}
        {% render_field form.kilometros class="form-control is-invalid" %}
          {% for error in form.kilometros.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Kilometros')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.kilometros class="form-control" %}
     {% endif %}
</div>
                   
<div class="form-group">
    <label for="costo">{{form.costo.label}}</label>
        {%if form.costo.errors %}
        	{% render_field form.costo class="form-control is-invalid" %}
        		{% for error in form.costo.errors %}
					<script>
					  $('').ready(function() {
					    toastr.error('{{ error }}','Costo')
					  });
					</script>
				{% endfor %}
   		{% else %}
   			{% render_field form.costo class="form-control" %}
   		{% endif %}
</div>
                    

                  
<div class="form-group">
  <label for="tareas">{{form.tareas.label}}</label>
      {%if form.tareas.errors %}
        {% render_field form.tareas class="form-control is-invalid" %}
          {% for error in form.tareas.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Tareas')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.tareas class="form-control" %}
     {% endif %}
</div>

<div class="form-group">
  <label for="estados">{{form.estados.label}}</label>
      {%if form.estados.errors %}
        {% render_field form.estados class="form-control is-invalid" %}
          {% for error in form.estados.errors %}
        <script>
          $('').ready(function() {
            toastr.error('{{ error }}','Estados')
          });
        </script>
      {% endfor %}
     {% else %}
       {% render_field form.estados class="form-control" %}
     {% endif %}
</div>

            <button type='submit' class="btn btn-primary btn-lg mt-2 mb-2">Agregar servicio</button>
            </div>
        </form>
        <script>
          toastr.options = {
  "closeButton": true,
  "debug": false,
  "newestOnTop": false,
  "progressBar": true,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "9000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
}  


        </script>
      </div>
    </div>

  </div>
<!-- End of Content Row -->
<!-- InputMask -->

<!-- REQUIRED SCRIPTS -->



  

{% endblock %}
