{% extends "base.html" %}
{% block content %} 

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img src="/static/webapp/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <h3 class="profile-username text-center">{{ usuario.nombre }} {{ usuario.apellido}}</h3>         
          <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
              <b>Dirección</b> <a class="float-right">{{ usuario.dirCalle}} {{ usuario.dirNumero }}</a>
            </li>
            <li class="list-group-item">
              <b>Teléfono</b> <a class="float-right">{{ usuario.telefono}}</a>
            </li>
            <li class="list-group-item">
              <b>E-mail</b> <a class="float-right">{{ usuario.email}}</a>
            </li>
          </ul>
          <a href="#" class="btn btn-primary btn-block"><b>Actualizar información</b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
{%endblock%}
