{% extends "base.html" %}
{% block content %} 
 <!-- Content Row -->
  {% load widget_tweaks %}
    <!-- Toastr -->
  {% load static %}
  {% block stylesheet %}   
    <link rel="stylesheet" href="{% static 'webapp/plugins/select2/css/select2.min.css' %}">
      <link rel="stylesheet" href="{% static 'webapp/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">    
    <link rel="stylesheet" href="{% static 'webapp/plugins/toastr/toastr.min.css' %}">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/">Inicio</a></li>  
        <li class="breadcrumb-item active" aria-current="page">Registro Vehicular</li>
      </ol>
    </nav>
  {% endblock %}
  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card card-default">
      <div class="card-header">
        <h3 class="card-title">Nuevo vehículo</h3>
      </div>
      <form method="POST" class="RegistroUsuario">{% csrf_token %}>
          <div class="form-group">
            <label for="{{form.duenio.label}}">{{form.duenio.label}}</label>
              <!-- Si hay errores... -->
              {%if form.duenio.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.duenio class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.duenio.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.duenio.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.duenio class="form-control" %}
              {% endif %}
          </div>
  
          <div class="form-group">
              <label for="{{form.modelo.label}}">{{form.modelo.label}}</label>
              <!-- Si hay errores... -->
              {%if form.modelo.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.modelo class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.modelo.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.modelo.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.modelo class="form-control" %}
              {% endif %}
              </div>
            </div>
         
            <div class="form-group">
              <label for="{{form.color.label}}">{{form.color.label}}</label>
              <!-- Si hay errores... -->
              {%if form.color.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.color class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.color.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.color.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.color class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.nroChasis.label}}">{{form.nroChasis.label}}</label>
              <!-- Si hay errores... -->
              {%if form.nroChasis.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.nroChasis class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.nroChasis.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.nroChasis.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.nroChasis class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.matricula.label}}">{{form.matricula.label}}</label>
              <!-- Si hay errores... -->
              {%if form.matricula.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.matricula class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.matricula.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.matricula.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.matricula class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.anio.label}}">{{form.anio.label}}</label>
              <!-- Si hay errores... -->
              {%if form.anio.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.anio class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.anio.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.anio.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.anio class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.tipoCombustible.label_tag }}
              {% for pk, choice in form.tipoCombustible.field.widget.choices %}
              <div class="custom-control custom-radio">
                  <input id="id_{{form.tipoCombustible.name}}_{{ forloop.counter0 }}" 
                  name="{{form.tipoCombustible.name}}" 
                  type="{{form.tipoCombustible.field.widget.input_type}}" value="{{pk}}" class="custom-control-input"
                   {% ifequal form.tipoCombustible.data pk.0 %}
                     checked="checked"
                   {% endifequal %}/>
                  <label for="id_{{form.tipoCombustible.name}}_{{ forloop.counter0 }}" class="custom-control-label">{{ choice }}</label>
              </div>
              {% endfor %}
            </div>
    
            
          </div>
        </div>
        <div class="card-footer">
          <button type='submit' class="btn btn-primary ">Guardar</button>
        </div>
      </form>
    </div>
  </div>

<!-- End of Content Row -->
{% endblock %}


<!-- Stylesheets -->
{% block stylesheets %} 

{% endblock %}

<!-- javascripts -->
{% block javascripts %}   
<script src="{% static 'webapp/plugins/select2/js/select2.full.min.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#id_duenio').select2({
        theme: 'bootstrap4'
    });
  });
</script>
  <script>
    toastr.options = {
      "closeButton": true,
      "debug": false,
      "newestOnTop": false,
      "progressBar": true,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "9000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    }  
  </script>
{% endblock %}