{% extends "base.html" %}
{% block content %} 
{% load widget_tweaks %}
 <!-- Content Row -->
 {% load static %}
  <div class="col-xl-12 col-md-12 mb-12">
    <div class="card shadow mb-3">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Registro de nuevo vehículo</h6>
      </div>
      <div class="card-body">
        
        <form method="POST" class="RegistroUsuario">{% csrf_token %}
          <div class="col-sm-6">
            <div class="form-group">
              <label for="{{form.duenio.label}}">{{form.duenio.label}}</label>
              <!-- Si hay errores... -->
              {%if form.duenio.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.duenio class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.duenio.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.duenio.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.duenio class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.modelo.label}}">{{form.modelo.label}}</label>
              <!-- Si hay errores... -->
              {%if form.modelo.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.modelo class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.modelo.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.modelo.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.modelo class="form-control" %}
              {% endif %}
            </div>


            <div class="form-group">
              <label for="{{form.color.label}}">{{form.color.label}}</label>
              <!-- Si hay errores... -->
              {%if form.color.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.color class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.color.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.color.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.color class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.nroChasis.label}}">{{form.nroChasis.label}}</label>
              <!-- Si hay errores... -->
              {%if form.nroChasis.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.nroChasis class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.nroChasis.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.nroChasis.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.nroChasis class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.matricula.label}}">{{form.matricula.label}}</label>
              <!-- Si hay errores... -->
              {%if form.matricula.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.matricula class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.matricula.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.matricula.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.matricula class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.anio.label}}">{{form.anio.label}}</label>
              <!-- Si hay errores... -->
              {%if form.anio.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.anio class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.anio.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.anio.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.anio class="form-control" %}
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{form.tipoCombustible.label}}">{{form.tipoCombustible.label}}</label>
              <!-- Si hay errores... -->
              {%if form.tipoCombustible.errors %}
                <!-- Muestro el campo con indicación de error... -->
                {% render_field form.tipoCombustible class="form-control is-invalid" %}
                <!-- ...y recorro los errores del campo mostrando los mensajes toastr-->
                {% for error in form.tipoCombustible.errors %}
                  <script>
                    $('').ready(function() {
                      toastr.error('{{ error }}','{{form.tipoCombustible.label}}')
                    });
                  </script>
                {% endfor %}
              {% else %}
                <!-- Si no hay errores, muestro el control normal -->
                {% render_field form.tipoCombustible class="form-control" %}
              {% endif %}
            </div>

            <button type='submit' class="btn btn-primary btn-md mt-2 mb-2">Agregar vehiculo</button>
          </div>
        </form>
        </div>
        
      </div>
    </div>

  </div>
<!-- End of Content Row -->
<!-- InputMask -->
<!-- REQUIRED SCRIPTS -->
<script>
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "9000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }  
</script>
{% endblock %}
