{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'webapp/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
{% endblock %}

{% block content %} 
<div class="row">
  <div class="col-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Lista de vehículos</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="vehiculos" class="table table-hover dataTable">
          <thead>
            <tr>
              <th style="width: 1%" >ID</th>
              <th style="width: 20%">Vehículo</th>
              <th style="width: 20%">Patente</th>
              <th style="width: 30%">Cliente</th>
              <th style="width: 20%">Teléfono</th>
              <th style="width: 10%" > </th>
            </tr>
          </thead>

          <tbody>
          {% for vehiculo in vehiculos %} 
            <tr>
              <td>{{ vehiculo.id }}</td>
              <td>           
                {{ vehiculo.modelo }}
              </td>
              <td>{{ vehiculo.matricula }}</td>
              <td>
                  {{ vehiculo.duenio.nombre }} {{ vehiculo.duenio.apellido }}
               </td>
               <td>{{ vehiculo.duenio.telefono }}</td>
              <td class="text-center">
                <div class="btn-group">
                  <a class="btn btn-default" href= "{%url "editarVehiculo" vehiculo.id %}" role="button">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="btn btn-default" href= "{%url "BorrarVehiculo" vehiculo.id %}" role="button" 
                    onClick="return confirm('¿Seguro que quieres dar de baja a {{vehiculo.modelo}}?');">
                    <i class="far fa-trash-alt" style="color:rgba(211, 0, 0, 0.692);"></i>
                  </a>
                              
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
		
        </table>
      </div>
	<!-- /.card-body -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row --> 

{%endblock%}

{% block javascripts %}
<!-- DataTables -->
<script src="{% static 'webapp/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'webapp/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script>
  $(function () {
    //   $("#usuarios").DataTable();
    $('#vehiculos').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "order": [[ 0, "desc" ]], // 0 se refeire a la primer columna, desc es descendente.
      "info": true,
      "autoWidth": true,
    });
  });
</script>
{%endblock%}